* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --headings-color: rgba(0, 0, 0, 0.8);
  --links-main-color: #0067b8;
  --footer-links-color: #616161;
}
body {
  font-family: "poppins", sans-serif;
  overflow-x: hidden;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding-inline: 7%;
}
header {
  padding-block-start: 10px;
  width: 100%;
  height: 60px;
  overflow: hidden;
  font-size: 17px;
  font-weight: 300;
  color: var(--headings-color);
}
header ion-icon {
  font-size: 12px;
}
header span.tittle {
  cursor: pointer;
  font-weight: 300;
  font-size: 16px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .nav-links-left {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}
header .container .nav-links-right {
  float: right;
  display: flex;
}
header .container .nav-links-right ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container .nav-links-left .navLink {
  padding: 10px;
  position: relative;
}
header .container .nav-links-left .navLink:not(:nth-child(1))::after {
  content: "";
  width: 0%;
  height: 2%;
  position: absolute;
  bottom: 8px;
  background: #000a;
  left: 64%;
  transform: translateX(-50%);
  transition: 0.3s;
}
header .container .nav-links-left .navLink:not(:nth-child(1)):hover::after {
  width: 50%;
}
header .container .nav-links-left .icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
header .container .nav-links-left .icon.user-icon {
  width: 20px;
  height: 20px;
  border: 1px solid #777;
  border-radius: 50%;
}
header .container .nav-links-left .search-icon {
  transform: rotate(90deg);
}
header.container .logo {
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-links-right ul li {
  padding: 10px 15px;
}
.nav-links-right ul li a {
  font-size: 18px;
  color: var(--headings-color);
  position: relative;
}
.nav-links-right ul li a::after {
  content: "";
  width: 0%;
  height: 7%;
  position: absolute;
  bottom: -1px;
  background: #000a;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
}
.nav-links-right ul li a:hover::after {
  width: 100%;
}
.nav-links-right .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.nav-links-right .logo img {
  width: 13px;
}
.nav-links-right .logo p {
  padding-inline-start: 5px;
}
.main {
  cursor: pointer;
}
.main .main-background img {
  width: 100%;
  position: relative;
}
.main .main-background {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.main-text {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  left: 53px;
}
.main-text h2 {
  font-size: 35px;
  line-height: 1.8;
  color: #fff;
  font-weight: bold;
  font-family: system-ui;
  letter-spacing: 1px;
}
.main-text p {
  font-size: 15px;
  width: 589px;
  margin-block-start: 10px;
  color: white;
}
.grid-1 {
  width: 100%;
  margin-top: 50px;
}
.grid-1 .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 30px;
}
.grid-1 .container .box img {
  width: 100%;
}
.grid-1 .container .box {
  gap: 15px;
  cursor: pointer;
  transition: 0.2s;
  direction: rtl;
}
.grid-1 .container .box img {
  transition: 0.2s;
}
.grid-1 .container .box img:hover {
  opacity: 0.85;
}
.grid-1 .container .box h4 {
  padding-left: 20px;
  margin-bottom: 11px;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.grid-1 .container .box p {
  padding-left: 20px;
  color: #777;
  font-size: 18px;
  font-family: sans-serif;
  margin-bottom: 10px;
}
.grid-1 .container .box .now-more {
  text-align: right;
  color: var(--links-main-color);
  font-size: 18px;
  transition: 0.3s;
  position: relative;
}
.grid-1 .container .box .now-more:last-child {
  margin-inline-start: 15px;
}
.now-more::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  left: 0;
  bottom: 0;
  background: var(--links-main-color);
  border-radius: 100vw;
  transition: 0.3s;
  transform-origin: bottom;
}
.now-more:hover::after {
  width: 100%;
}
.now-more ion-icon {
  transition: 0.3s;
}
.now-more:hover ion-icon {
  transform: translateX(-7px);
}
.phone {
  position: relative;
  width: 100%;
}
.phone .phone-backround {
  direction: rtl;
  margin: 50px 0;
  width: 100%;
  height: 480px;
  background: #e7e7e6;
  overflow: hidden;
  position: relative;
}
.phone .phone-backround img {
  height: 100%;
}
.phone-content-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100px;
  z-index: 10;
  color: #000;
  width: 500px;
}
.phone-content-left h3 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
}
.phone-content-left p {
  margin-bottom: 10px;
  font-weight: 200;
  font-size: 20px;
}
.phone-content-left .now-more {
  width: max-content;
  background: #000;
  color: #fff;
  font-size: 18px;
  padding: 5px 10px;
  position: relative;
}
.phone-content-left .now-more::after {
  content: "";
  width: 0%;
  bottom: 3px;
  background: #fff;
  position: absolute;
  left: 55%;
  transform: translateX(-50%);
  transition: 0.3s;
}
.phone-content-left .now-more:hover::after {
  width: 65%;
}
.grid-2 {
  width: 100%;
  margin-top: 50px;
  position: relative;
  margin-top: 100px;
}
.grid-2 .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 30px;
}
.grid-2 .container .box img {
  width: 100%;
}
.grid-2 .container .box {
  gap: 15px;
  cursor: pointer;
  transition: 0.2s;
  direction: rtl;
}
.grid-2 .container .box img {
  transition: 0.2s;
}
.grid-2 .container .box img:hover {
  opacity: 0.85;
}
.grid-2 .container .box h4 {
  padding-left: 20px;
  margin-bottom: 11px;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.grid-2 .container .box p {
  padding-left: 20px;
  color: #777;
  font-size: 18px;
  font-family: sans-serif;
  margin-bottom: 10px;
}
.grid-2 .container > a {
  display: none;
}
.grid-2 .container .box .now-more {
  color: var(--links-main-color);
  position: relative;
}
.grid-2 .container .box .now-more::after {
  content: "";
  width: 0%;
  bottom: 0px;
  background: var(--links-main-color);
  position: absolute;
  left: 55%;
  transform: translateX(-50%);
  transition: 0.3s;
}
.grid-2 .container .box .now-more:hover::after {
  width: 100%;
}
.grid-2::before {
  content: "للأعمال";
  text-align: right;
  width: 100%;
  position: absolute;
  top: -50px;
  right: 110px;
  font-size: 25px;
  font-weight: bold;
  font-family: system-ui;
}
.icons-for-contact {
  width: 100%;
  position: relative;
  margin: 100px 0;
  text-align: right;
}
.icons-for-contact .container {
  display: flex;
  /* direction: rtl; */
  gap: 12px;
  align-items: center;
  flex-direction: row-reverse;
}
.icons-for-contact .container h5 {
  font-weight: normal;
  font-size: 18px;
}
.icons-for-contact .container .icons {
  display: flex;
  flex-direction: row-reverse;
}
.icons-for-contact .container .icons .i {
  margin: 0 10px;
  transition: 0.2s;
  font-size: 30px;
  cursor: pointer;
}
.icons-for-contact .container .icons .i:hover {
  opacity: 0.85;
}
.icons-for-contact .container .icons .facebook {
  color: #425daa;
}
.icons-for-contact .container .icons .twitter {
  color: #55acee;
}
.icons-for-contact .container .icons .linkedin {
  color: #0177b5;
}
footer {
  width: 100%;
  height: max-content;
  background: #f2f2f2;
  padding-bottom: 100px;
}
footer .container > ul {
  display: flex;
  width: 100%;
  align-items: flex-start;
  padding-top: 60px;
  justify-content: space-around;
  flex-direction: row-reverse;
}
footer .container > ul li {
  text-align: right;
  color: var(--footer-links-color);
  font-weight: bold;
}
footer .container  ul li ul {
  margin: 20px 0;
}
footer .container  ul li ul li {
  color: var(--footer-links-color);
  transition: 0.2s;
  margin: 5px 0;
  font-size: 12px;
  cursor: pointer;
  position: relative;
  text-align: right;
}
footer .container  ul li ul li:hover {
  color: #000;
}
footer .container  ul li ul li::after {
  content: "";
  transition: 0.2s;
  position: absolute;
  width: 100%;
  bottom: -1px;
  height: 1px;
  background: #000;
  left: 0;
  opacity: 0;
}
footer .container  ul li ul li:hover::after {
  opacity: 1;
}